<div>
  <div class="flex flex-col justify-center items-center h-full">
    <div class="w-3/6 mb-8">
      <h1 class="font-bold text-5xl leading-snug">Dodaj dostawcę</h1>
      <p class="text-gray-500">
        Dodaj dostawcę aby móc przyypisać do niego produkty, które później będą wykorzystywane podczas dodawania dostawy.
      </p>
    </div>
    <form
      [formGroup]="supplierForm"
      class="flex flex-col shadow-xl w-3/6 p-7 rounded-lg h-fit"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col">
        <label for="name">Nazwa</label>
        <input type="text" id="name" pInputText formControlName="name" />
      </div>
      <div class="flex flex-col col-span-2">
        <label for="index">Numer NIP</label>
        <input type="text" id="index" pInputText formControlName="taxIdNum" />
      </div>
      <div class="flex flex-col col-span-2">
        <label for="description">Opis</label>
        <input type="text" id="description" pInputText formControlName="description" />
      </div>
      <div formGroupName="address">
        <div class="flex flex-col col-span-2">
          <label for="street">Ulica</label>
          <input type="text" id="street" pInputText formControlName="street" />
        </div>
        <div class="flex flex-col col-span-2">
          <label for="postalCode">Kod pocztowy</label>
          <input type="text" id="postalCode" pInputText formControlName="postalCode" />
        </div>
        <div class="flex flex-col col-span-2">
          <label for="city">Miasto</label>
          <input type="text" id="city" pInputText formControlName="city" />
        </div>
        <div class="flex flex-col col-span-2">
          <label for="state">Województwo</label>
          <input type="text" id="state" pInputText formControlName="state" />
        </div>
        <div class="flex flex-col col-span-2">
          <label for="country">Kraj</label>
          <input type="text" id="country" pInputText formControlName="country" />
        </div>
      </div>
      <div>
        <label for="colors">Kolory produktów</label>
        <p-chips [addOnBlur]="true" [addOnTab]="true" formControlName="productColors"></p-chips>
      </div>
      <p-button
        (click)="onSubmit()"
        class="mt-3"
        label="Wyślij"
        styleClass="p-button-secondary"
      ></p-button>
    </form>
  </div>
</div>

