.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  background-image: none;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #001d35;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #001d35;
  opacity: 8%;
}

.login-button {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
}
:root{
}

.background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2140' height='1440' preserveAspectRatio='none' viewBox='0 0 2140 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1180%26quot%3b)' fill='none'%3e%3crect width='2140' height='1440' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c839.325C156.129%2c828.195%2c280.658%2c723.47%2c422.736%2c657.79C591.494%2c579.776%2c832.397%2c584.482%2c913.335%2c417.106C993.958%2c250.38%2c815.92%2c69.668%2c796.178%2c-114.473C775.353%2c-308.721%2c904.754%2c-527.214%2c794.783%2c-688.683C685.474%2c-849.181%2c456.439%2c-876.357%2c263.337%2c-896.842C91.685%2c-915.052%2c-65.511%2c-834.134%2c-234.27%2c-797.851C-419.464%2c-758.035%2c-647.618%2c-811.637%2c-776.905%2c-673.192C-905.973%2c-534.982%2c-845.902%2c-312.433%2c-863.417%2c-124.141C-879.952%2c53.614%2c-953.162%2c239.055%2c-876.774%2c400.409C-800.614%2c561.28%2c-622.489%2c641.281%2c-463.33%2c720.956C-317.843%2c793.787%2c-162.287%2c850.894%2c0%2c839.325' fill='%2311364e'%3e%3c/path%3e%3cpath d='M2140 2128.9030000000002C2266.768 2103.483 2382.131 2055.632 2494.134 1991.0430000000001 2611.465 1923.382 2724.138 1851.851 2806.666 1744.4560000000001 2905.67 1615.62 3046.13 1473.62 3014.1639999999998 1314.314 2981.95 1153.775 2780.857 1098.775 2655.877 992.99 2552.591 905.566 2466.059 804.215 2343.569 746.707 2204.686 681.503 2052.686 598.053 1905.272 640.589 1757.783 683.146 1677.413 837.347 1590.627 963.9649999999999 1512.217 1078.362 1460.72 1202.901 1427.5520000000001 1337.565 1391.171 1485.275 1343.778 1637.739 1388.8899999999999 1783.02 1436.5410000000002 1936.479 1535.136 2086.865 1681.091 2154.077 1823.122 2219.482 1986.685 2159.6459999999997 2140 2128.9030000000002' fill='%23195072'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1180'%3e%3crect width='2140' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

.herobgcolor {
}

@keyframes nebulahero {
  0% {-webkit-filter: hue-rotate(0deg);}
  100% {-webkit-filter: hue-rotate(-360deg);}
}
