<div *ngIf="products"
     class="grid auto-rows-fr items-center justify-center flex-wrap gap-4 grid-cols-3">
  @for (product of products; track product._id) {
    <div class="product-card-container flex flex-col pt-2">
      <div class="h-[11rem] relative">
        <img class="object-contain w-full h-full" [src]="product.imageUrl ?? fallbackImg" alt="Product image">
        <!--                <span class="product-colour absolute bottom-0 right-4">{{product.attributes.colour}}</span>-->
      </div>
      <div class="product-information p-4 flex flex-col flex-1">
        <div class="mt-2">
          <p class="product-name text-lg text-[#121714] font-bold leading-5">{{ product.name }}</p>
          <p class="product-id mt-1 font-normal text-sm text-[#6D6F6E]">{{ product.productIndex }}</p>
        </div>
        <div class="mt-4 mb-2">
          <div class="flex gap-x-2">
            @for (size of product.attributes.size; track size) {
              <span class="product-size text-sm">{{ size }}</span>
            }
          </div>
        </div>
        <div class="flex basis-10 mb-2 flex-1">
          <div class="flex flex-1 justify-between items-end gap-x-2">
            <button class="btn-product flex-1 py-1 bg-black text-white text-sm font-bold rounded">{{ 'Więcej'  | uppercase}}</button>
            <button class="btn-product flex-1 py-1 bg-black text-white text-sm font-bold rounded" [routerLink]="[product._id, 'edit']">{{ "Edycja" | uppercase }}</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
