<div *ngIf="boxDetails" class="m-8">
  <a [routerLink]="['/delivery/create', boxDetails.deliveryId, 'counting']">Back</a>
  <div class="flex justify-center items-center">
    <app-svg-icon [scale]="6" icon="box_icon"></app-svg-icon>
  </div>
  <h1 class="text-5xl text-center font-semibold">Pudło {{ boxDetails.boxNumber }}</h1>
  <p class="text-center">{{ boxDetails.statuses[0].status }}</p>
  <div class="flex justify-center items-center gap-4 p-5 w-1/2 mx-auto mb-5">
    @if (!boxDetails.closed) {
      <button class="rounded-[0.5rem] h-1/2" (click)="showDialog()">Dodaj produkt</button>
      <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
                [resizable]="false">
        <ng-template pTemplate="header">
        </ng-template>
        <div class="flex justify-center items-center flex-col">
          <h3 class="font-bold text-center text-2xl mb-9">Dodaj produkty</h3>
          <form
            [formGroup]="addProductForm"
            class="flex flex-col justify-center shadow-xl p-7 rounded-lg h-fit w-full">
            <div class="flex flex-col col-span-2">
              <label for="product">Produkt</label>
              <p-dropdown id="product" [options]="products" optionLabel="name" optionValue="_id"
                          formControlName="productId" appendTo="body"
                          [filter]="true"></p-dropdown>
            </div>
            <div class="flex flex-col col-span-2">
              <label for="quantity">Ilość</label>
              <input pInputText type="number" id="quantity" formControlName="quantity"/>
            </div>
            <div class="flex flex-col" *ngIf="selectedProduct?.attributes?.size">
              <label for="size">Rozmiar</label>
              <p-listbox id="size" [options]="selectedProduct.attributes.size" formControlName="size"></p-listbox>
            </div>
            <p-button class="mt-3" (onClick)="onSubmit()" label="Wyślij" styleClass="p-button-secondary"></p-button>
          </form>
        </div>
      </p-dialog>
      <button class="rounded-[0.5rem] h-1/2" (click)="closeBox()">Zamknij pudło</button>
    } @else {
      <button class="rounded-[0.5rem] h-1/2" (click)="openBox()">Otwórz pudło</button>
    }
  </div>
  <table class="w-full p-10">
    <thead class="font-thin text-gray-500 uppercase">
    <tr class="text-start">
      <th class="text-start">Indeks</th>
      <th>Nazwa</th>
      <th class="">Rozmiar</th>
      <th class="">Ilość</th>
      <th></th>
    </tr>
    </thead>
    <tbody [formGroup]="productsForm" *ngIf="productsForm">
      @for (product of boxDetails.products; let i = $index; track product._id) {
        <tr formArrayName="products">
          <td>{{ product.productIndex }}</td>
          <td>
            @if (isEditing === i) {
              <p-dropdown id="product" [options]="products" optionLabel="name" optionValue="_id"
                          [formControl]="getProductArrayFormControl(i, 'productId')" appendTo="body"
                          [filter]="true"></p-dropdown>
            } @else {
              {{ product.name }}
            }
          </td>
          <td class="">
            @if (isEditing === i) {
              <p-dropdown id="product" [options]="editingProductSizes"
                          [formControl]="getProductArrayFormControl(i, 'productSize')" appendTo="body"
                          [filter]="true"></p-dropdown>
            } @else {
              {{ product.size }}
            }
          </td>
          <td class="w-[2rem]">
            @if (isEditing === i) {
<!--              <input [formControl]="getProductArrayFormControl(i, 'productQuantity')">-->
              <p-inputNumber inputId="integeronly" [formControl]="getProductArrayFormControl(i, 'productQuantity')"></p-inputNumber>
            } @else {
            {{ product.quantity }}
            }
          </td>
          <td class="flex justify-center">
<!--            @if (isEditing === -1 || isEditing !== i) {-->
            @if (isEditing === i) {
              <app-svg-icon icon="close_icon" [triggerable]="true" (click)="cancelEdit(i)"></app-svg-icon>
              <app-svg-icon icon="check_icon" [triggerable]="true" (click)="updateProduct(i)"></app-svg-icon>
            } @else {
              <app-svg-icon icon="edit_icon" [triggerable]="true" (click)="editProduct(i)"></app-svg-icon>
              <app-svg-icon icon="delete_icon" [triggerable]="true" (click)="removeProduct(product._id)"></app-svg-icon>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
