.image-container {
  .remove-image {
    opacity: 0;
    transition: all 0.2s ease;
    transform: translate(50%, -50%);
    background-color: rgb(232, 231, 227);
    width: 36px;
    height: 36px;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    .remove-image {
      opacity: 1;
      transition: all 0.2s ease;

    }
  }
}
