<div class="h-full">
  <div class="h-full flex flex-col justify-between">
    <div class="mb-12">
      <h1 class="text-5xl font-semibold leading-normal">Reset password</h1>
      <h3 class="text-sm font-normal">Recover access to your account by resetting your password</h3>
    </div>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetForm" class="flex flex-col mb-12">
      <div class="flex flex-col mb-2">
        <label for="email">Email</label>
        <input class="bg-zinc-100 px-4 py-2 rounded-lg text-sm"
               id="email"
               type="text"
               formControlName="email"
               placeholder="Enter your email"/>
      </div>
        @if (resetForm.touched) {
          <span *ngIf="resetForm.getError('userNotFound')" class="error-message">There is no user with that email</span>
          <span *ngIf="resetForm.get('email')!.getError('required')"
                class="error-message">You must provide an email</span>
        }
    </form>
    <div>
      <button
        class="bg-black login-button rounded-lg text-white h-[3rem] w-full p-2 mb-3 disabled:bg-gray-700"
        [disabled]="resetSubmitted || !formValid"
        (click)="resetPassword()">
        @if (resetSubmitted) {
          <app-svg-icon icon="loading_icon" iconClass="loading-spinner h-full" [scale]="0.3" fill="#fff"
                        stroke="#fff"></app-svg-icon>
        } @else {
          <span>Reset password</span>
        }
      </button>
      <div class="flex justify-center">
        <p class="cursor-pointer text-sm" (click)="toggleLogin.next(true)">Back to login</p>
      </div>
    </div>
  </div>
</div>
