<div>
  <div>
    <div class="mb-12">
      <h1 class="text-5xl font-semibold leading-normal" >Reset password</h1>
      <h3 class="text-sm font-normal">Recover access to your account by resetting your password</h3>
    </div>
    <div class="flex flex-col mb-10">
      <div class="flex flex-col mb-4">
        <label for="email">Email</label>
        <input class="bg-zinc-100 px-4 py-2 rounded-lg text-sm"
               id="email"
               type="text"
               formControlName="email"
               placeholder="Enter your emails"/>
      </div>
      <div class="flex flex-col mb-4">
        <label for="password">Password</label>
        <input class="bg-zinc-100 px-4 py-2 rounded-lg text-sm"
               id="password"
               type="password"
               formControlName="password"
               placeholder="Enter your password"/>
      </div>
      <div class="flex justify-end mb-8">
        <p class="cursor-pointer text-sm" (click)="toggleLogin.next(true)">Back to login</p>
      </div>
    </div>
    <button class="bg-black login-button rounded-lg text-white w-full p-2 mb-3" (click)="resetPassword()">Reset password</button>
  </div>
</div>
