<div *ngIf="loginForm">
  <div>
    <div class="mb-12">
      <h1 class="text-5xl font-semibold leading-normal">{{ mainTitle }}</h1>
      <h3 class="text-sm font-normal">Login to get access to all functionalities</h3>
    </div>
    <form class="flex flex-col mb-10" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="flex flex-col mb-4">
        <label for="email">Email</label>
        <input class="bg-zinc-100 px-4 py-2 rounded-lg text-sm"
               id="email"
               type="text"
               formControlName="email"
               placeholder="Enter your emails"/>
        <span class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.getError('required')">Please provide an email</span>
      </div>
      <div class="flex flex-col mb-4">
        <label for="password">Password</label>
        <input class="bg-zinc-100 px-4 py-2 rounded-lg text-sm"
               id="password"
               type="password"
               formControlName="password"
               placeholder="Enter your password"/>
          <span class="error-message" *ngIf="loginForm.getError('wrongCredentials')">Incorrect username or password</span>
          <span class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.getError('required')">Please provide a password</span>
      </div>
      <div class="flex justify-between mb-8">
        <div class="flex justify-center items-center gap-2">
          <input type="checkbox" formControlName="remember" id="remember">
          <label class="inline-flex mb-0 p-0 text-sm" for="remember">Remember me</label>
        </div>
        <p class="cursor-pointer text-sm" (click)="toggleLogin.next(true)">Forgot password</p>
      </div>
    </form>
    <button
      class="bg-black login-button relative rounded-lg text-white w-full h-[3rem] flex items-center justify-center p-2 mb-3"
      [disabled]="loginSubmitted" (click)="login()">
      @if (loginSubmitted) {
        <app-svg-icon icon="loading_icon" iconClass="loading-spinner h-full" [scale]="0.3" fill="#fff"
                      stroke="#fff"></app-svg-icon>
      } @else {
        <span>Sign in</span>
      }
    </button>
  </div>
</div>
