@import "../../../styles.scss";

.router-link-active {
  text-decoration: none;
  background-color: antiquewhite;
}

.router-link-active:visited {
  text-decoration: none;
}

a {
  @apply text-gray-500 w-28 text-center py-1 rounded;
}
