<header
  class="flex flex-col items-center h-screen w-40 py-10 px-5 border-r-1 border-gray-300"
>
  <div class="mb-12">
    <h1>LOGO</h1>
  </div>
  <nav class="flex flex-col justify-between h-full">
    <div class="flex flex-col gap-6">
      <a
        routerLink="/"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>

      <a routerLink="/invoices" routerLinkActive="router-link-active">
        Invoices
      </a>

      <a routerLink="/suppliers" routerLinkActive="router-link-active">
        Suppliers
      </a>

      <a routerLink="/products" routerLinkActive="router-link-active">
        Products
      </a>
      <a routerLink="/delivery" routerLinkActive="router-link-active">
        New delivery
      </a>
    </div>

    <a *ngIf="isAuth" class="" routerLink="login" (click)="logout()">Log out</a>
    <a *ngIf="!isAuth" class="" routerLink="login" (click)="logout()">Login</a>
  </nav>
</header>
