.login-button {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
}

@keyframes nebulahero {
  0% {-webkit-filter: hue-rotate(0deg);}
  100% {-webkit-filter: hue-rotate(-360deg);}
}
