<div class="p-10">
  <div class="flex justify-between items-center mb-5">
  <h1>Dostawy</h1>
    <button class="btn btn-add" [routerLink]="['create']">
      <span>+</span>
    </button>
  </div>


  <table class="table-list" *ngIf="deliveries.length > 0">
    <thead>
      <tr>
        <td>Dostawca</td>
        <td>Data</td>
        <td>Status</td>
        <td>Numer faktury</td>
        <td>Opis</td>
        <td class="text-center">Akcja</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let delivery of deliveries; let i = index ">
        <td>{{delivery.supplier.name}}</td>
        <td>{{delivery.date | date:'dd.MM.yyy'}}</td>
        <td>{{delivery.status}}</td>
        <td>{{delivery?.invoice?.invoiceNumber}}</td>
        <td>{{delivery.description}}</td>
        <td>
          <div class="card flex justify-center">
            <div class="flex items-center">
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
              <app-svg-icon icon="dots_icon" [fill]="'#000'" [strokeWidth]="'0'" [scale]="0.3" (click)="menu.toggle(toggleMenu($event, delivery._id))"></app-svg-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 *ngIf="deliveries.length === 0">Nie ma jeszcze zadnych dostaw</h2>
</div>
