<div class="flex flex-col justify-center items-center">
  <div class="w-full px-16 py-6">
    <div class="flex justify-center items-center w-full mt-8 mb-[4rem] relative">
      <app-svg-icon class="absolute left-0 hover:-translate-y-0.5 transition-all"
                    routerLink="/invoices"
                    icon="arrow_back_icon"
                    [triggerable]="true"
                    [scale]="0.7"
                    fill="#000" strokeWidth="0"
                    stroke="#000">Back
      </app-svg-icon>
      <div class="flex flex-col justify-center items-center">
        <h1 class="font-bold text-5xl leading-snug">Dodaj fakturę</h1>
        <p class="text-gray-500 line-clamp-3">Na jej podstawie stworzona będzie dostawa, która po jej zakończeniu
          porówna dostarczony
          towar z zamówionym</p>
      </div>
    </div>
    <div class="form-section-container rounded-lg p-[3rem] h-fit flex flex-col justify-center">
      <app-invoice-form (invoiceFormData)="invoiceFormData = $event"></app-invoice-form>
      <div class="flex w-full justify-center items-center">
        <p-button (click)="onSubmit()" [disabled]="!invoiceFormData" class="mt-[4rem] w-[15rem]" label="Wyślij"
                  styleClass="p-button-primary rounded-lg w-full"></p-button>
      </div>
    </div>
  </div>
</div>
