<table class="table-list">
  <thead>
    <tr>
      <td>Numer</td>
      <td>Data wystawienia</td>
      <td>Dostawca</td>
      <td>Wartość</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    @for (invoice of invoices; let i = $index; track invoice._id) {
    <tr>
      <td>{{invoice.invoiceNumber}}</td>
      <td>{{invoice.date | date:'dd/MM/yyyy'}}</td>
      <td>{{invoice.supplier.name}}</td>
      <td>{{invoice.nettoPrice}} {{invoice.currency}}</td>
      <td class="flex items-center justify-center gap-1">
        <app-svg-icon class="cursor-pointer" icon="expand_icon" [scale]="1.2" (click)="openDetails(i)"></app-svg-icon>
      </td>
    </tr>
    } @empty {
      <tr>
        <td colspan="7">
          <div class="w-full p-8 text-center">
            <app-svg-icon icon="invoice_icon" fill="#000" strokeWidth="0" [scale]="1.3"></app-svg-icon>
            <h2 class="font-normal mt-4">Brak faktur</h2>
            <p class="font-light mt-2">Jeszcze nie posiadasz żadnej faktury. <span
              class="px-2 py-1 cursor-pointer rounded bg-blue-500 text-white" [routerLink]="['create']">Dodaj fakturę</span>
            </p>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
