<div *ngIf="boxDetails" class="m-8">
  <a [routerLink]="['/delivery/create', boxDetails.deliveryId, 'counting']">Back</a>

  <section class="mt-4">
    <div class="flex justify-between">
      <div class="flex items-start justify-start gap-6">
        <div class="">
          <app-svg-icon [scale]="5" icon="box_icon"></app-svg-icon>
        </div>
        <div class="mt-4">
          <h1 class="text-5xl text-center font-semibold">Pudło {{ boxDetails.boxNumber }}</h1>
          @switch (boxDetails.statuses[0].status) {
            @case (BoxStatus.Reopened) {
              <p class="mt-2 inline-block status_reopened">Otwarte ponownie</p>
            }
            @case (BoxStatus.Closed) {
              <p class="mt-2 inline-block status_closed">Zamknięte</p>
            }
            @case (BoxStatus.InProgress) {
              <p class="mt-2 inline-block status_opened">Otwarte</p>
            }
            @case (BoxStatus.New) {
              <p class="mt-2 inline-block status_opened">Otwarte</p>
            }
          }
        </div>
      </div>
      <div class="mt-4">
        <p class="font-semibold">Stworzone przez:</p>
        <p class="text-right">{{ boxDetails.createdBy.name }}</p>
        <p class="text-right">{{ boxDetails.createdAt | date:'dd.MM.yyyy HH:mm' }}</p>
      </div>
    </div>
  </section>

  <div class="flex gap-2 justify-between h-[2.5rem] my-6">
    <div class="w-[20rem] h-full">
      <input class="w-[20rem] h-[2.5rem] px-2 border-1 border-zinc-300">
    </div>
    <div class="flex gap-2">
      @if (!boxDetails.closed) {
        <button class="w-[10rem] h-full border-2 border-zinc-900 " (click)="showDialog()">Dodaj produkt</button>
        <button class="w-[10rem] h-full text-white text-center bg-zinc-900" (click)="closeBox()">Zamknij pudło</button>
        <app-box-add-product-form [products]="products"
                                  [addProductForm]="addProductForm"
                                  [boxId]="this.boxId"
                                  [visible]="visible"
                                  (boxDetailsUpdated)="boxDetails = $event"
                                  (modalVisible)="visible = $event"></app-box-add-product-form>
      } @else {
        <button class="w-[10rem] h-full border-2 border-zinc-900 " (click)="openBox()">Otwórz pudło</button>
      }
    </div>
  </div>
  <div class="form-section-container p-6 rounded-lg">

  <table class="w-full box-table">
    <thead class="font-thin text-gray-500 uppercase">
    <tr class="text-start">
      <th class="text-start">Indeks</th>
      <th>Nazwa</th>
      <th class="">Rozmiar</th>
      <th class="">Ilość</th>
      <th></th>
    </tr>
    </thead>
    <tbody [formGroup]="productsForm" *ngIf="productsForm">
      @for (product of boxDetails.products; let i = $index; track product._id) {
        <tr formArrayName="products">
          @if (isEditing === i) {
            <td>
              <input  class="disabled:bg-transparent" [formControl]="getProductArrayFormControl(i, 'productIndex')">
            </td>
            <td>
              <p-dropdown id="product" [options]="products" optionLabel="name" optionValue="_id"
                          [formControl]="getProductArrayFormControl(i, 'productId')" appendTo="body"
                          [filter]="true"></p-dropdown>
            </td>
            <td class="">
              <p-dropdown id="product" [options]="editingProductSizes"
                          [formControl]="getProductArrayFormControl(i, 'size')" appendTo="body"
                          [filter]="true"></p-dropdown>
            </td>

            <td class="w-[2rem]">
              <p-inputNumber inputId="integeronly"
                             [formControl]="getProductArrayFormControl(i, 'quantity')"></p-inputNumber>

            </td>
            <td class="flex justify-center">
              <app-svg-icon icon="close_icon" [triggerable]="true" (click)="cancelEdit(i)"></app-svg-icon>
              <app-svg-icon icon="check_icon" [triggerable]="true" (click)="updateProduct(i)"></app-svg-icon>
            </td>
          } @else {
            <td>{{ product.productIndex }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.size }}</td>
            <td>{{ product.quantity }}</td>
            <td class="flex justify-center">
              @if (!boxDetails.closed) {
                <app-svg-icon icon="edit_icon" [triggerable]="true" (click)="editProduct(i)"></app-svg-icon>
                <app-svg-icon icon="delete_icon" [triggerable]="true" (click)="removeProduct(product._id)"></app-svg-icon>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
  </div>

</div>
