<p *ngIf="!deliverySummary">Loading...</p>

<div *ngIf="deliverySummary">
  <table>
    <thead>
    <td>Indeks</td>
    <td>Nazwa</td>
    <td>Ilość</td>
    <td>Różnica</td>
    </thead>
    <tbody>
    <tr *ngFor="let product of deliverySummary"
        [class.highlight]="product.isExtraProduct">
      <td>{{ product.productIndex }}</td>
      <td>{{ product.productName }}</td>
      <ng-container>

        <td>
          <p *ngFor="let size of product.sizes">
            {{ size.size }}: {{ size.deliveryCount }}
          </p>
        </td>
        <td>
          <ng-container *ngFor="let size of product.sizes">
            <p *ngIf="size.differenceCount < 0">
              Brak {{ size.size }}: {{ size.differenceCount }}
            </p>
            <p *ngIf="size.differenceCount > 0">
              Nadwyżka {{ size.size }}: {{ size.differenceCount }}
            </p>
            <p *ngIf="size.differenceCount === 0">
              Zgadza się
            </p>
          </ng-container>
        </td>
      </ng-container>

    </tr>
    </tbody>
  </table>
</div>
