<div>
  <div *ngFor="let invoice of invoices">
    <span>Price: {{ invoice.nettoPrice }} | </span>
    <span>{{ invoice.invoiceNumber }}</span>
    <span>Date: {{ invoice.date }}</span>
  </div>
</div>

<div>
  <form
    [formGroup]="invoiceForm"
    class="flex flex-col bg-slate-100 w-3/6 p-4"
    (ngSubmit)="onSubmit()"
  >
    <label for="supplier">Dostawca</label>
    <input type="text" formControlName="supplier" />
    <label for="invoiceDate">Data faktury</label>
    <input type="date" id="invoiceDate" formControlName="invoiceDate" />
    <label for="invoiceNumber">Numer Faktury</label>
    <input type="text" id="invoiceNumber" formControlName="invoiceNumber" />
    <label for="nettoPrice">Wartość netto</label>
    <input type="number" id="nettoPrice" formControlName="nettoPrice" />
    <div class="flex justify-between">
      <p>Artykuły</p>
      <button type="button" (click)="addProductsFormInit()">+</button>
    </div>
    <div *ngIf="isAdding" class="new-item flex" [formGroup]="products">
      <div>
        <label for="">Indeks</label>
        <input type="text" formControlName="productName" />
      </div>
      <div>
        <label for="">Ilość</label>
        <input type="number" formControlName="quantity" />
      </div>
      <div>
        <label for="">Cena</label>
        <input type="number" formControlName="price" />
      </div>
      <button type="button" (click)="addProduct()">add</button>
    </div>
    <div formArrayName="products">
      <div
        *ngFor="let product of getProductsControls(); let i = index"
        class="flex gap-3"
      >
        <p>{{ product.value.productName }}</p>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
