<div class="flex flex-col items-center">
  <app-svg-icon icon="confirm_icon" [scale]="1.3" fill="#04CD54" stroke="#04CD54"
                strokeWidth="0"></app-svg-icon>
  <div class="my-8">
    <h4 class="font-semibold">Password has been reset.</h4>
    <p class="mt-2 text-center">You can now login with your new password.</p>
  </div>
  <button class="bg-black login-button rounded-lg text-white h-[3rem] w-full p-2" [routerLink]="['/auth/login']">
    <span>Back to Login</span>
  </button>
</div>
