<p *ngIf="!deliverySummary">Loading...</p>

<div *ngIf="deliverySummary">
  <table>
    <thead>
    <td>Indeks</td>
    <td>Nazwa</td>
    <td>Ilość</td>
    <td>Różnica</td>
    </thead>
    <tbody>
    <tr *ngFor="let productId of Object.keys(deliverySummary.differenceMap)"
        [class.highlight]="deliverySummary.deliveryProductsMap[productId]?.isExtraProduct">
      <td>{{ deliverySummary.deliveryProductsMap[productId].productIndex }}</td>
      <td>{{ deliverySummary.deliveryProductsMap[productId].productName }}</td>
      <td>
        <p *ngFor="let size of Object.keys(deliverySummary.deliveryProductsMap[productId].quantities)">
          {{ size }}: {{ deliverySummary.deliveryProductsMap[productId].quantities[size] }}
        </p>
      </td>
      <td>
        <ng-container *ngFor="let size of getDifferenceSizeKeys(productId)">
          <p *ngIf="getDifferenceQuantity(productId, size) < 0">
            Brak {{ size }}: {{ getDifferenceQuantity(productId, size) }}
          </p>
          <p *ngIf="getDifferenceQuantity(productId, size) > 0">
            Nadwyżka {{ size }}: {{ getDifferenceQuantity(productId, size) }}
          </p>
          <p *ngIf="getDifferenceQuantity(productId, size) === 0">
            Zgadza się
          </p>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>
