<div *ngIf="boxDetails" class="m-8">
  <a [routerLink]="['/delivery', boxDetails.deliveryId]">Back</a>
  <div class="flex justify-center items-center">
    <app-svg-icon [scale]="6" icon="box_icon" ></app-svg-icon>
  </div>
  <h1 class="text-5xl text-center font-semibold">Pudło {{boxDetails.boxNumber}}</h1>
  <div class="flex justify-center items-center gap-4 p-5 w-1/2 mx-auto mb-5">
    <button class="rounded-[0.5rem] h-1/2" (click)="getSelectedProduct()">Dodaj produkt</button>
    <button class="rounded-[0.5rem] h-1/2">Zamknij pudło</button>
  </div>
  <div  class="flex" [formGroup]="addProductForm">
    <p-dropdown id="product" class="w-20" [options]="products" optionLabel="name" optionValue="_id" formControlName="productId"
                [filter]="true"></p-dropdown>
    <p-dropdown [disabled]="!selectedProduct.attributes.size" id="size" [options]="selectedProduct?.attributes?.size" formControlName="size"
                [filter]="true"></p-dropdown>
    <input>
  </div>
  <table class="w-full p-10">
    <thead class="font-thin text-gray-500 uppercase">
      <tr class="text-start">
        <th class="text-start">Indeks</th>
        <th>Nazwa</th>
        <th class="text-center">Rozmiar</th>
        <th class="text-center">Ilość</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of boxDetails.products">
      <td>{{product.productIndex}}</td>
      <td>{{product.name}}</td>
      <td class="text-center">{{product.size}}</td>
      <td class="text-center">{{product.quantity}}</td>
      <td class="flex justify-center items-center">
        <app-svg-icon icon="delete_icon" (click)="removeProduct(product._id)"></app-svg-icon>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="flex justify-center items-center flex-col">
    <h3 class="font-bold text-center text-2xl mb-9">Dodaj produkty</h3>
    <form
      [formGroup]="addProductForm"
      class="flex flex-col justify-center shadow-xl w-3/6 p-7 rounded-lg h-fit">
      <div class="flex flex-col col-span-2">
        <label for="product">Produkt</label>
        <p-dropdown id="product" [options]="products" optionLabel="name" optionValue="_id" formControlName="productId"
                    [filter]="true"></p-dropdown>
      </div>
      <div class="flex flex-col col-span-2">
        <label for="quantity">Ilość</label>
        <input pInputText type="number" id="quantity" formControlName="quantity"/>
      </div>
      <div class="flex flex-col" *ngIf="selectedProduct?.attributes?.size">
        <label for="size">Rozmiar</label>
        <p-listbox id="size" [options]="selectedProduct.attributes.size" formControlName="size"></p-listbox>
      </div>
      <p-button class="mt-3" (onClick)="onSubmit()" label="Wyślij" styleClass="p-button-secondary"></p-button>
    </form>
  </div>
</div>
