$thead-radius: 0.8rem;
$tbody-radius: 0.6rem;

button {
  background-color: #69b8d9;
  color: #fff;
  padding: 0.5rem;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-bottom: 1px solid #aaa;
}

th {
  border-bottom: 1px solid #c2bab8;
  border-top: 1px solid #c2bab8 ;
  background-color: #efeded;
  &:first-child{
    border-left: 1px solid #c2bab8;
    border-radius: $thead-radius 0 0 $thead-radius;
  }

  &:last-child{
    border-right: 1px solid #c2bab8;
    border-radius:0 $thead-radius $thead-radius 0;
  }
}

tbody {
  tr:nth-child(odd) {
    td {
      &:first-child{
        border-radius: $tbody-radius 0 0 $tbody-radius;
      }

      &:last-child{
        border-radius:0 $tbody-radius $tbody-radius 0;
      }
    }
  }
  tr:nth-child(even) {
    td {
      background-color: #fafafa;
      &:first-child{
        border-radius: $tbody-radius 0 0 $tbody-radius;
      }

      &:last-child{
        border-radius:0 $tbody-radius $tbody-radius 0;
      }
    }
  }
}

th, td {
  padding: 1.2rem 1rem;
}
