@import "src/styles";

.router-link-active {
  text-decoration: none;
  @apply bg-[#F0EFEF] text-black
}

.router-link-active:visited {
  text-decoration: none;
}

.profile-button {
  display: block;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  background-color: #fafafa;
  border-radius: 6px;
  width: 8rem;
  bottom: 100%;
  margin-bottom: 0.8rem;

  a {
    @apply py-1.5 px-4;
  }
}
