<header
  class="flex flex-col items-center h-screen w-48 py-10 px-5 border-r-1 border-gray-200"
>
  <div class="mb-12">
    <h1>LOGO</h1>
  </div>
  <nav class="flex flex-col justify-between w-full h-full">
    <div class="flex flex-col gap-3">
      <a
        routerLink="/"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <a routerLink="/suppliers" routerLinkActive="router-link-active">
        Dostawcy
      </a>
      <a routerLink="/products" routerLinkActive="router-link-active">
        Produkty
      </a>
      <a routerLink="/invoices" routerLinkActive="router-link-active">
        Faktury
      </a>
      <a routerLink="/delivery" routerLinkActive="router-link-active">
        Dostawy
      </a>
    </div>

    <div class="flex justify-between items-center gap-4">
      <div class="profile-button flex-shrink-0 cursor-pointer relative">
        <div class="profile-dropdown">
          <a [href]="['/settings/profile']">Ustawienia</a>
          <a class="inline-block" routerLink="/auth/login" (click)="logout()">Wyloguj się</a>
        </div>
      </div>
    </div>
  </nav>
</header>

