<div>
  <div class="mb-12">
    <h1 class="text-5xl font-semibold leading-normal">New password</h1>
    <h3 class="text-sm font-normal">Please provide new password for your account.</h3>
  </div>
  <form class="flex flex-col" (ngSubmit)="savePassword()" [formGroup]="newPasswordForm">
    <div class="flex flex-col mb-4">
      <label for="password">New password</label>
      <input class="bg-zinc-100 px-4 py-2 rounded-lg text-sm"
             id="password"
             type="password"
             formControlName="password"
             placeholder="Enter your new password"/>
      <span class="error-message" *ngIf="newPasswordForm.getError('responseError')">{{ errorMessage }}</span>
      <span class="error-message"
            *ngIf="newPasswordForm.get('password')?.touched && newPasswordForm.get('password')?.getError('required')">Please provide new password</span>
    </div>
    <div class="flex flex-col mb-4">
      <label for="passwordConfirm">New password</label>
      <input class="bg-zinc-100 px-4 py-2 rounded-lg text-sm"
             id="passwordConfirm"
             type="password"
             formControlName="passwordConfirm"
             placeholder="Confirm your new password"/>
      <span class="error-message"
            *ngIf="newPasswordForm.getError('passwordNotTheSame')">Your passwords are not identical</span>
      <span class="error-message"
            *ngIf="newPasswordForm.get('passwordConfirm')?.touched && newPasswordForm.get('passwordConfirm')?.getError('required')">Confirm your password</span>

    </div>
    <button
      class="bg-black login-button relative rounded-lg text-white w-full h-[3rem] flex items-center justify-center p-2 mt-8 mb-3 disabled:bg-gray-700"
      [disabled]="formSubmitted || newPasswordForm.invalid" type="submit">
      @if (formSubmitted) {
        <app-svg-icon icon="loading_icon" iconClass="loading-spinner h-full" [scale]="0.3" fill="#fff"
                      stroke="#fff"></app-svg-icon>
      } @else {
        <span>Save password</span>
      }
    </button>
  </form>
</div>
