<form
  *ngIf="suppliers"
  [formGroup]="invoiceForm"
>
  <h2 class="font-semibold text-xl text-[#121714]">Szczegóły faktury</h2>
  <h3 class="font-normal text-sm text-[#6D6F6E]">Wprowadź wszystkie informacje dotyczące faktury</h3>
  <div class="form-section grid grid-cols-2 gap-4">
    <div class="flex flex-col col-span-2 flex-grow">
      <label class="input-label" for="supplier">Dostawca</label>
      <p-dropdown class="w-full"
                  id="supplier"
                  [options]="suppliers"
                  optionValue="_id"
                  optionLabel="name"
                  placeholder="Wybierz dostawcę"
                  formControlName="supplier"
                  [filter]="true">
      </p-dropdown>
    </div>
    <div class="flex flex-col flex-grow">
      <label class="input-label w-1/2" for="invoiceNumber">Numer Faktury</label>
      <input pInputText class="w-full" type="text" id="invoiceNumber" formControlName="invoiceNumber"/>
      <span *ngIf="getControlErrors(FormFields.InvoiceNumber)[CustomValidationErrors.InvoiceNumberNotUnique]"
            class="text-secondary form-error">Invoice number exists</span>
    </div>
    <div class="flex flex-col w-auto">
      <label class="input-label" for="invoiceDate">Data wystawienia faktury</label>
      <p-calendar id="invoiceDate" class="w-full" dateFormat="dd-mm-yy" [formControlName]="FormFields.InvoiceDate" [showIcon]="true"></p-calendar>
    </div>
    <div class="flex flex-col flex-grow">
      <label class="input-label" for="nettoPrice">Wartość netto</label>
      <input pInputText class="w-full" type="number" id="nettoPrice" formControlName="nettoPrice"/>
    </div>
    <div class="flex flex-col flex-grow">
      <label class="input-label" for="currency">Waluta</label>
      <input pInputText class="w-full" type="text" id="currency" formControlName="currency"/>
    </div>
  </div>

  <div *ngIf="selectedSupplier && selectedSupplier.products.length > 0" class="flex justify-between col-span-2">
    <div class="flex flex-col">
      <h2 class="text-primary">Artykuły</h2>
      <h3 class="text-secondary">Podaj wszystkie pozycje dotyczące faktury</h3>
    </div>
  </div>
  <ng-container>
    <h2 *ngIf="!selectedSupplier">Wybierz dostawcę aby dodać produkty do faktury</h2>
    <h2 *ngIf="selectedSupplier && selectedSupplier.products.length === 0" class="mt-2">
      Wybrany dostawca nie posiada zadnych produktow. Kliknij tutaj aby dodać produkt
    </h2>
  </ng-container>
  <app-add-product *ngIf="selectedSupplier?.products?.length && (!isEditMode || isEditing)" [formGroup]="productsGroup"
                   [products]="selectedSupplier.products" (onAddProduct)="addProduct()">
  </app-add-product>
  <div formArrayName="products">
    <div class="flex flex-col justify-end items-end text-sm text-secondary mb-2">
      <p class="text-gray-950 text-md font-bold">Pokaż:</p>
      <div class="flex gap-2 justify-end items-center">
        <p *ngFor="let size of pageSizes"
           class="cursor-pointer"
           [ngClass]="{'font-bold text-gray-900': maxPageElements === size}"
           (click)="changePaginationSize(size)">{{ size === -1 ? "Wszystko" : size }}
        </p>
      </div>
    </div>
    <table
      class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
      <thead class="bg-gray-50 dark:bg-gray-800">
      <tr>
        <th scope="col"
            class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <div class="flex items-center gap-x-3">
            <input type="checkbox"
                   class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
            <button class="flex items-center gap-x-2">
              <span>Nazwa</span>
              <svg class="h-3" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                  fill="currentColor" stroke="currentColor" stroke-width="0.1"/>
                <path
                  d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                  fill="currentColor" stroke="currentColor" stroke-width="0.1"/>
                <path
                  d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                  fill="currentColor" stroke="currentColor" stroke-width="0.3"/>
              </svg>
            </button>
          </div>
        </th>

        <th scope="col"
            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
          Rozmiar
        </th>

        <th scope="col"
            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
          Cena/szt
        </th>

        <th scope="col"
            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
          Ilość
        </th>
        <th scope="col"
            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
          Suma
        </th>

        <th scope="col" class="relative py-3.5 px-4">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
      <tr *ngIf="getProductsControlsRaw()?.length === 0">
        <td colspan="7" class="p-8 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center">Żaden
          produkt nie został jeszcze dodany
        </td>
      </tr>
      <ng-container *ngFor="let product of controls; let i = index">
        <tr>
          <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
            <div class="inline-flex items-center gap-x-3">
              <input type="checkbox"

                     class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">

              <span>{{ productNameMap[product.value[AddProductFormFields.ProductId]] }}</span>
            </div>
          </td>
          <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
            <div *ngIf="product.value.size"
                 class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-emerald-500 bg-emerald-100/60 dark:bg-gray-800">
              <h2 class="text-sm font-normal">{{ product.value.size }}</h2>
            </div>
          </td>
          <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
              <span *ngIf="isEditingControl !== i">
                <span>{{ product.value.price }}</span>
                <span class="font-bold"> {{getCurrency()}}</span>
              </span>
            <ng-container *ngIf="isEditingControl === i" [formGroup]="editingFormGroup">
              <input pInputText class="p-inputtext-sm" type="number" formControlName="price"/>
            </ng-container>

          </td>

          <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
            <span *ngIf="isEditingControl !== i">{{ product.value.quantity }}</span>
            <ng-container *ngIf="isEditingControl === i" [formGroup]="editingFormGroup">
              <input pInputText class="p-inputtext-sm" type="number" formControlName="quantity"/>
            </ng-container>
          </td>
          <td
            class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
            <span>{{ product.value.quantity * product.value.price }}</span>
            <span class="font-bold"> {{getCurrency()}}</span>
          </td>
          <td class="px-4 py-4 text-sm whitespace-nowrap">
            <div *ngIf="!isEditMode || isEditing" class="flex items-center gap-x-6">
              <button (click)="editControl(i)" *ngIf="isEditingControl !== i"
                      class="text-blue-500 transition-colors duration-200 hover:text-indigo-500 focus:outline-none">
                Edytuj
              </button>
              <button (click)="deleteControl(i)" *ngIf="isEditingControl !== i"
                      class="text-blue-500 transition-colors duration-200 hover:text-indigo-500 focus:outline-none">
                Usuń
              </button>
              <button (click)="cancelEdit()" *ngIf="isEditingControl === i"
                      class="text-blue-500 transition-colors duration-200 hover:text-indigo-500 focus:outline-none">
                Anuluj
              </button>
              <button (click)="updateControl(i)" *ngIf="isEditingControl === i"
                      class="text-blue-500 transition-colors duration-200 hover:text-indigo-500 focus:outline-none">
                Zapisz
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot *ngIf="getProductsControlsRaw()?.length !== 0">
      <tr>
        <td colspan="2" class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
          <div class="inline-flex items-center gap-x-3">
            <span>Łączna kwota faktury</span>
          </div>
        </td>
        <td
          class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
          <span>{{ getInvoiceTotalAmount() }}</span>
          <span class="font-bold"> {{getCurrency()}}</span>
        </td>
      </tr>
      </tfoot>
    </table>

    <div class="flex items-center justify-center mt-6 border-t-1 pt-4 relative">
      <div class="absolute left-0">
        <button (click)="paginateControls(currentPage - 1)"
                [class.hidden]="!(totalPageCount > 1 && currentPage > 1)"
                class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
          </svg>
          <span>previous</span>
        </button>
      </div>

      <div class="items-center hidden md:flex gap-x-3">
        <ng-container *ngFor="let page of getPageCount(); let i = index">
          <button *ngIf="currentPage === i + 1"
                  class="px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-gray-800 bg-blue-100/60 cursor-pointer">{{ i + 1 }}
          </button>
          <button *ngIf="currentPage !== i + 1" (click)="paginateControls(i + 1)"
                  class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300
                  hover:bg-gray-100 cursor-pointer">{{ i + 1 }}
          </button>
        </ng-container>
      </div>

      <div class="absolute right-0">
        <button
          (click)="paginateControls(currentPage + 1)"
          [class.hidden]="!(totalPageCount > 1 && currentPage < totalPageCount)"
          class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
          <span>Next</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"/>
          </svg>
        </button>
        <button (click)="addMessage()">Message!</button>
      </div>
    </div>
  </div>
</form>
